*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    overflow: auto;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1578301978018-3005759f48f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=844&q=80') no-repeat center/cover;
    height: 30%;
    background-size: 100% 780px;
    
}

.header::after{
    content: "prachi";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;

}
#ArtGallary{
    display: flex;
    margin: 85px 0 20 0;
    justify-content: center;
    color: white;
    font-family: dancing script;
    font-size: 40pt;
    text-decoration: underline;
}


#number{
    text-align: center;
    color: purple;
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 15pt;
}

ul{
    font-family: Arial;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 10%;
    position: fixed;
    top: 0;
    width: 100%; 
    font-size: 13pt;
}    
  

li a{
    float: right;
    display: flex;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
} 

li a:hover{
    color:purple;
    font-size: 20px;
}    

.slide-data{
    display: inline-block;
}

.gal-img{
    border: 10px solid white;
    border-radius: 15px;
    width: 700px;
    height: 400px;
    position: relative;
    top: 60px;
}

#text1{
    font-size: 30pt;
    font-family: dancing script;
    padding: 10px;
    font-weight: bold;
    color: purple;



}
#text2{
    font-family: dancing script;
    font-size: 14pt;
    font-weight: bold;
    color: white;

}
#text3{
    color: white;

    font-family: dancing script;
    font-size: 14pt;
    font-weight: bold;

}

.logsign{
    position: relative;
    left: 180px;
    top:25px;
    padding: 0px 2px;
    height: 60px;
    width: 240px;
    border: 4px solid white;
    background-color: rgb(132, 105, 125);
    border-color: rgb(132, 105, 125);
    border-radius: 18px;
    

}

button{
    border: none;
    font-weight: bold;
    color: white;
    padding: 20px 10px;
    text-align: center;
    width: 80px;
    font-size: 15pt;
    background-color: transparent;
}


.span1{
    width: 40%;
    float: right;
    height: 300px;
    position: relative;
    top: 100px;
    right: 40px;
    text-align: center;

}
/* second row stats explore by collection */

.second-row{
    margin-top: 180px;
    margin-bottom: -20px;
    font-size: 35px;
    text-align: center;
    padding: 20px;  
    color: rgb(0, 0, 0);
    
}
.underline{
    color: red;
    text-align: center;
    padding-bottom: 30px;
    size: 20%;
}

.sidewise{
    display: inline-block;
    margin: 10px;
}

.gal2-img{
    width: 230px;
    border: 15px solid rgb(98, 89, 89); 
}
.images2{
    text-align: center;

}



