*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  

}

body{

    background: black;
    background-repeat: no-repeat;
    background-position: center ;
   

}
.main{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

ul{
    font-family: Arial;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a1a;

}
li{
    float: left;
    
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}
li a:hover{
    color:rgb(227, 21, 21);
    font-size: 20px;
}



p{
    font-family: Arial;
    color: white;
    text-align: center;
}
H2{
    color: white;
    font-family: arial;
    text-align: center;
    font-size: 20pt;
    font-weight: lighter;
}

.gal-img{
    width: 350px;
    height: 250px;
    padding: 10px;
}

button{
    float: right;
    background-color: black;
    color: white;
    padding: 18px;
    font-size: 17px;
}