*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center ;
    overflow: auto;
   
}

#ArtGallary{
    margin: 85px 0 20 0;
    color: purple;
    font-family: dancing script;
    text-align: center;
    font-size: 40pt;
}

#number{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

ul{
    font-family: Arial;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    height: 10%;
    position: fixed;
    top: 0;
    width: 100%; 
}    
  

li a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
} 

li a:hover{
    color:purple;
    font-size: 20px;
}    

span{
    float: right;
    color: white;
    padding: 18px;
    font-size: 17px;
    border-radius: px;
    border: 2px solid black;
    background-color: rgb(95, 94, 94); 
}   
span:hover{
    color: aliceblue;
    font-size: 20px;
}

.slide-data{
    display: inline-block;
}

.gal-img{
    border: 1px solid black;
    width: 1480px;
    height: 470px;
    background-size: cover;
}

.logsign{
    padding: 2px;
    height: 60px;
    width: 180px;
    float: right;
}

/* second row stats explore by collection */

.second-row{
    margin-top: 70px;
    margin-bottom: -20px;
    font-size: 35px;
    text-align: center;
    padding: 20px;  
    color: rgb(0, 0, 0);
}
.underline{
    color: red;
    text-align: center;
    padding-bottom: 30px;
    size: 20%;
}

.sidewise{
    display: inline-block;
    margin: 10px;
}



.gal2-img{
    width: 230px;
    border: 15px solid rgb(98, 89, 89); 
}
.images2{
    text-align: center;

}



